<h1>User Show Page for <%= @user.email %></h1>
<p>Avatar: <%= image_tag "seed_avatar.png" %></p>

<p>Email: <%= @user.email %></p>
<p>Joined <%= Time.now.day - @user.created_at.day %> days ago</p>

<%= link_to "Back", root_path %>

