
<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="assets/images/sidebar-4.jpg">

    	<div class="sidebar-wrapper">
            <div class="logo"><h4><center>
                Hi <%= current_user.email %></h4></center>

            </div>

            <ul class="nav">

                <li class="active">
                    <a href="user.html">
                        <i class="fa fa-edit"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                      <i class="fa fa-comment"></i>
                        <p>Messages</p>
                    </a>
                </li>

                <li>
                    <a href="table.html">
                      <i class="fa fa-times"></i>
                        <p>Sign Out</p>
                    </a>
                </li>



            </ul>
    	</div>
    </div>

    <div class="main-panel">

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-5">
                                          <div class="form-group">
                                              <label>Username</label>
                                              <input type="text" class="form-control" placeholder="<%= current_user.username %>" value="<%= current_user.username %>">
                                          </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" placeholder=" <%= current_user.email %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" placeholder="<%= current_user.first_name %>" value="<%= current_user.first_name %>">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" placeholder="<%= current_user.last_name %>" value="<%= current_user.last_name %>">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <input type="text" class="form-control" placeholder="<%= current_user.gender %>" value="<%= current_user.gender %>">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" placeholder="<%= current_user.city %>" value="<%= current_user.city %>">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" placeholder="<%= current_user.state %>" value="<%= current_user.state %>">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="teaxt" class="form-control" placeholder="<%= current_user.country %>" value="<%= current_user.country %>">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <button type="submit" class="btn btn-info btn-danger">Change Password</button>
                                  </br>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">

<%= image_tag "seed_avatar.png", {:class => "avatar border-gray"} %>
                                      <h4 class="title"><%= current_user.username %> <br />
                                         <small><%= current_user.email %></small>
                                      </h4>
                                    </a>
                                </div>
                                <br/>
                                <p class="description text-center"> "Lamborghini Mercy <br>
                                                    Your chick she so thirsty <br>
                                                    I'm in that two seat Lambo"
                                </p>
                              <small><center>  member since <%= Time.now.day - @user.created_at.day %> days ago </small></center>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square fa-lg"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter fa-lg"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square fa-lg"></i></button>
  <button href="#" class="btn btn-simple"><i class="fa fa-linkedin fa-lg"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>



    </div>
</div>


</body>
