




<br/>
    <!-- Page Title
    		============================================= -->
    		<section id="page-title">

    			<div class="container clearfix"><center>
    				<h1>All Requests</h1>
    				<span>Showcase of All Requests</span>
</center>
    			</div>

    		</section><!-- #page-title end -->

    		<!-- Content
    		============================================= -->
    		<section id="content">

    			<div class="content-wrap">



    					<!-- Post Content
    					============================================= -->
    					<div class="postcontent nobottommargin">

                <!-- Sidebar
      					============================================= -->

      						<div class="sidebar-widgets-wrap">

      							<div class="widget widget-filter-links clearfix">

      								<h4>Select Category</h4>
      								<ul class="custom-filter" data-container="#shop" data-active-class="active-filter">
      									<li class="widget-filter-reset active-filter"><a href="#" data-filter="*">Clear</a></li>
      									<li><a href="#" data-filter=".sf-dress">Art</a></li>
      									<li><a href="#" data-filter=".sf-tshirt">Travel</a></li>
      									<li><a href="#" data-filter=".sf-pant">HomeImprovements</a></li>
      									<li><a href="#" data-filter=".sf-sunglass">Learning</a></li>
      									<li><a href="#" data-filter=".sf-shoes">Language</a></li>
      									<li><a href="#" data-filter=".sf-watch">Petandkids</a></li>
      								</ul>

<br/>
      								<h4>Sort By</h4>
      								<ul class="shop-sorting">

      									<li><a href="#" data-sort-by="name">Name</a></li>
      									<li><a href="#" data-sort-by="price_lh">Popularity</a></li>
      									<li><a href="#" data-sort-by="price_hl">Latest</a></li>
      								</ul>
<br/>
<a href="<%= new_request_path %> " class="btn btn-warning">Create your request</a>
	</div>
      					</div><!-- .sidebar end -->

    						<!-- Shop
    						============================================= -->
    						<div id="shop" class="shop product-3 grid-container clearfix">
<% @requests.each do |request| %>

    							<div class="product sf-dress clearfix">

    									<!-- <div class="sale-flash"></div> -->

    							<div class="product-desc-zoe center">
    									<div class = "row"> <div class="product-title"> 	<a href= "/requests/<%=request.id%>"> <h3> <%= request.title %></h3></a> <h5><%= request.request_description %></h5> </div></div>
    									<div class = "row">
                        <div class="product-price"><%= request.token %> <%= image_tag('ora-coin.png', height:'20px')%> / unit <br/>
                        <a href="/users/<%= request.user.id %>"><h5>  <%= image_tag ('seed_avatar.png'), {:class => "product-title-avatar"} %> <%= request.user.username %></h5></a>
	</div>	</div>	</div>
    								</div>

  <% end %>

    							</div>
	                </div>






    			</div>

    		</section><!-- #content end -->
